*{
  margin: 0;
  padding: 0;
}

.body{
  background: rgba(255, 255, 255, 0.932);
  display: grid;
  height: 100vh;
  place-items: center;
  animation: back 1.3s ease-in-out backwards;

}
#container{
  background: #242424;
  height: 100px;
  width: 100px;
  border-radius: 6px;
  display: flex;
  color: #fefefe;
}
#content{
  width: 100%;
  display: grid;
  place-items: center;
}
#content i{
  cursor: pointer;

}
body .light{
  background: rgb(39, 39, 39);
  animation: go 1.3s ease-in-out backwards;
}


.light #content{
  color:#242424;
  background: #fefefe;
  border-radius: 6px;
}
.light #container{
  color: #242424;
}

@keyframes go{

  100%{
    background:  rgb(39, 39, 39);
  }
  75%{
    background:  rgba(39, 39, 39,.5)
  }
  50%{
    background:  rgba(209, 209, 209, 0.8)
  }
  25%{
    background:  rgba(231, 231, 231, 0.8)
  }
  0%{
    background: #fffefe;
  }
}


  @keyframes back{
    100%{
      background:  rgb(255, 255, 255);
    }
    75%{
      background:  rgba(211, 211, 211, 0.5)
    }
    50%{
      background:  rgba(95, 94, 94, 0.8)
    }
    25%{
      background:  rgba(34, 34, 34, 0.8)
    }
    0%{
      background: #1f1f1f;
    }
  }
